body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: darkgrey;
}

p {
  font-size: 18px;
  color: blueviolet;
}

button:hover {
  color: grey;
}